<div id="file-list" class="list-group">
    {% for file in files %}
        <div class="list-group-item d-flex justify-content-between align-items-center">
            {% if file.is_folder %}
                <a href="?path={{ file.id }}/" class="folder-link">
                    📁 {{ file.name }}
                </a>
            {% else %}
                {{ file.name }}
            {% endif %}
            <div class="dropdown">
                <button
                        class="btn menu-btn"
                        type="button"
                        id="dropdownMenuButton"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">...
                </button>
                <div class="dropdown-menu dropdown-menu-right"
                     aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item"
                    href="{% url 'file-download' file.id %}">
                        Скачать
                    </a>
                    <!-- Удаление -->
                    <button class="dropdown-item text-danger delete-btn"
                            data-file-id="{{ file.id }}">
                        Удалить
                    </button>
                    <!-- Переименование -->
                    <button type="button" class="dropdown-item text-warning rename-btn"
                            data-bs-toggle="modal"
                            data-bs-target="#renameModal"
                            data-file-id="{{ file.id }}"
                            data-file-name="{{ file.name }}">
                        Переименовать
                    </button>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

<!-- Модальное окно для переименования -->
<div class="modal fade" id="renameModal" tabindex="-1" aria-labelledby="renameModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="renameModalLabel">Переименовать файл</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                <form id="rename-form" method="POST" action="{% url 'file-rename' %}">
                    {% csrf_token %}
                    <input type="hidden" id="file-id" name="file-id">
                    <div class="mb-3">
                        <label for="new-name" class="form-label">Новое имя</label>
                        <input type="text" class="form-control" id="new-name" name="new-name" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Переименовать</button>
                </form>
            </div>
        </div>
    </div>
</div>
